:root {
  // base
  --font-family: 'Mulish', sans-serif;
  // colors
  --c-green: #11af22;
  --c-red: #e41d1d;
  --c-dark: #0f0f0f;
  --c-light: #ffffff;
  --c-grey: #676767;
  --c-ghost-white: #f0f0ff;
  --c-light-grey: #e6e6e6;
  --c-blue: #483ea8;
  --c-blue-hover: #4836ea;
}
